@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
*{

    margin: 0;
    padding: 0;
}
body{
    font-family: 'Montserrat', sans-serif;
    background-color:#eee;
    font-size: 16px;
    margin: auto;
    
    background-repeat: no-repeat;
    
}
.contanier{
    max-width: 1440px;
}

.card{
    border-radius: 10px;

}
h2{
    font-weight: 700;
}
.card2{
    background-color: hsl(232, 41%, 64%);
   
}
.design:hover{
    transform: scale(1.1, 1.0);
    transition: 0.5s;
}